# To get started with an '.envrc' for your project see https://github.com/direnv/direnv/wiki
# 
# For python and pyenv you can use e.g. 
#
layout pyenv 3.6.5

export ANSIBLE_ROLES_PATH=./.ansible_roles
